.toolbar {
    display: flex;
    &__left {
        flex: 1;
        .btn-group {
            margin-right: 5px;
        }
    }
    &__right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        & > button {
            margin-left: 5px;
        }
    }
}