<div class="toolbar">
    <div class="toolbar__left btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="toolBarController.addDevice()">Add new device</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary" ng-disabled="toolBarController.editingDevices" ng-click="toolBarController.editDevices()">Edit Devices</button>
            <button type="button" class="btn btn-secondary" ng-disabled="!toolBarController.editingDevices" ng-click="toolBarController.editPages()">Edit Pages</button>                
        </div>
    </div>
    <div class="toolbar__right">
        <button type="button" class="btn btn-danger" ng-click="toolBarController.close()"><span class="glyphicon glyphicon-off"></span></button>
    </div>
</div>
