<div class="toolbar">
    <div class="toolbar__left btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-primary"
                uib-tooltip="{{ toolBarController.addDeviceTooltip | translate }}" tooltip-placement="bottom"
                ng-click="toolBarController.addDevice()" translate>STR_Add_New_Device</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary"
                uib-tooltip="{{ toolBarController.editDeviceTooltip | translate }}" tooltip-placement="bottom"
                ng-disabled="toolBarController.editingDevices" ng-click="toolBarController.editDevices()"
                translate>STR_Edit_Devices</button>
            <button type="button" class="btn btn-secondary"
                uib-tooltip="{{ toolBarController.editPagesTooltip | translate }}" tooltip-placement="bottom"
                ng-disabled="!toolBarController.editingDevices" ng-click="toolBarController.editPages()"
                translate>STR_Edit_Pages</button>
        </div>
    </div>
    <div class="toolbar__right">
        <button type="button" class="btn btn-secondary" uib-tooltip="{{ toolBarController.settingsTooltip | translate }}"
            tooltip-placement="left" ng-click="toolBarController.settings()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        <button type="button" class="btn btn-danger" uib-tooltip="{{ toolBarController.closeTooltip | translate }}"
            tooltip-placement="left" ng-click="toolBarController.close()">
            <span class="glyphicon glyphicon-off"></span>
        </button>
    </div>
</div>