    <table class="table table-bordered table-fixed-header" ng-if="$ctrl.selectedDeviceId > -1">
    <thead>
        <tr>
            <td translate>Page Size</td>
            <td translate>Print Quality</td>
            <td translate>Media Type</td>
            <td translate>Destination</td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    uib-tooltip="{{ $ctrl.addTooltip }}" 
                    tooltip-placement="left" 
                    ng-click="$ctrl.addPage()">
                        <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr 
            ng-class="{'item-selected' : $ctrl.isSelected(page.id)}"
            ng-repeat="page in $ctrl.pages | filter:{ deviceId : $ctrl.selectedDeviceId }" 
            ng-click="$ctrl.selectPage($event,page.id)">
            <td>
                <select ng-model="page.pageSize" ng-change="$ctrl.updatePageSize(page.pageSize)">
                    <option ng-repeat="size in $ctrl.PageSizeOptions" value="{{ size.value }}">{{ size.label }}</option>
                </select>
            </td>
            <td>
                <select ng-model="page.printQuality" ng-change="$ctrl.updatePrintQuality(page.printQuality)">
                    <option ng-repeat="quality in $ctrl.PrintQualityOptions" value="{{ quality.value }}">{{ quality.label }}</option>
                </select>
            </td>
            <td>
                <select ng-model="page.mediaType" ng-change="$ctrl.updateMediaType(page.mediaType)">
                    <option ng-repeat="medium in $ctrl.MediaTypeOptions" value="{{ medium.value }}">{{ medium.label }}</option>
                </select>
            </td>
            <td>
                <select ng-model="page.destination" ng-change="$ctrl.updateDestination(page.destination)">
                    <option ng-repeat="destination in $ctrl.DestinationOptions" value="{{ destination.value }}">{{ destination.label }}</option>
                </select>
            </td>
            <td>
                <button 
                    type="button"
                    class="btn btn-danger" 
                    uib-tooltip="{{ $ctrl.deleteTooltip }}" 
                    tooltip-placement="left" 
                    ng-click="$ctrl.deletePage(page.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
