<div class="modal-body">
    <div class="language-selection-block">
        <div [translate]>STR_Languages</div>
        <select [(ngModel)]="languageOption">
            <option *ngFor="let language of languageOptions" [value]="language.value">{{ language.label | translate }}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="onApply()" [translate]>STR_Apply</button>
    <button class="btn btn-warning" (click)="onDismiss()" [translate]>STR_Exit</button>
</div>
